[project]
	description = Volfile generation API for glusterd 2.0
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gaurav Kumar Garg (gaurav36)
[access "refs/for/refs/*"]
	read = group user/Gaurav Kumar Garg (gaurav36)
	push = group user/Gaurav Kumar Garg (gaurav36)
	label-Code-Review = -2..+2 group user/Gaurav Kumar Garg (gaurav36)
	label-Verified = -1..+1 group user/Gaurav Kumar Garg (gaurav36)
	rebase = group user/Gaurav Kumar Garg (gaurav36)
	removeReviewer = group user/Gaurav Kumar Garg (gaurav36)
	submit = group user/Gaurav Kumar Garg (gaurav36)
[access "refs/heads/*"]
	read = group user/Gaurav Kumar Garg (gaurav36)
	create = group user/Gaurav Kumar Garg (gaurav36)
	push = +force group user/Gaurav Kumar Garg (gaurav36)
	pushMerge = group user/Gaurav Kumar Garg (gaurav36)
[access "refs/tags/*"]
	push = +force group user/Gaurav Kumar Garg (gaurav36)
	pushTag = group user/Gaurav Kumar Garg (gaurav36)
	pushSignedTag = group user/Gaurav Kumar Garg (gaurav36)
